@page "/Create"
@using SkiaSharp.Views.Blazor
@using SkiaSharp

<PageTitle>Create</PageTitle>

<div id="document-interface">
    <h1>Doc Name</h1>
    <ul class="nav nav-underline">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">File</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Save</a></li>
            </ul>
        </li>
    </ul>
    <div id="binder">
        <SKCanvasView tabindex="1" @ref="_canvas" @onclick="CanvasClick" @onkeydown="OnCanvasKeyDown" Width="1056" Height="816" OnPaintSurface="OnPaintSurface" />
    </div>
</div>

@code {
    private SKCanvasView? _canvas;
    private float _currentX {get; set;} = 0; 
    private float _currentY {get; set;} = 0;
    private float _cursorX {get; set;} = 96f;
    private float _cursorY {get; set;} = 96f;
    private float _pageWidth {get; set;} = 1056;
    private float _fontSize {get; set;} = 22f;
    private float _rightMargin {get; set;} = 96f; 
    private float _leftMargin {get; set;} = 96f;
    private float _topMargin {get; set;} = 96f;
    private string _letter {get; set;} = string.Empty;

    private void OnPaintSurface(SKPaintSurfaceEventArgs args)
    {
        var canvas = args.Surface.Canvas; 
        canvas.Clear(SKColors.LightGray);

        using var paint = new SKPaint {
            Color = SKColors.Black,
            StrokeWidth = 2,
            IsAntialias= true,
        };
        canvas.DrawLine(_cursorX, _cursorY, _cursorX, _cursorY + _fontSize, paint);
    }
    private void CanvasClick(MouseEventArgs args)
    {
        _currentX = (float) args.OffsetX;
        _currentY = (float) args.OffsetY;
    }
    private void OnCanvasKeyDown(KeyboardEventArgs args)
    {
        _letter = args.Key; 
        
        switch (args.Code){
            case "Space": 
                if(_cursorX + _fontSize < _pageWidth - _rightMargin){
                    _cursorX += _fontSize;
                }else {
                    /* Move to next line */
                    _cursorX = _leftMargin;
                    _cursorY += _fontSize;
                }
                break;
            case "Backspace":
                if(_cursorX - _fontSize >= _leftMargin){
                    _cursorX -= _fontSize;
                }else {
                    /* Move to previous line */
                    if(_cursorY - _fontSize >= _topMargin){
                        _cursorY -= _fontSize;
                        _cursorX = _pageWidth - _rightMargin;
                    }
                }
                break;
            default: 
                Console.WriteLine(args.Code);
                break;
        }
        _canvas?.Invalidate();
    }
}    

