@page "/Create"

<PageTitle>Create</PageTitle>
<h1>Doc Name</h1>
<ul class="nav nav-underline">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">File</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item">Save</a></li>
        </ul>
    </li>
</ul>